/*

To Do:
 - Media Queries
    bigger images
    font-size
    simplified nav bar

    side nav popup


 - Animations


*/









@font-face{
    font-family: 'roboto';
    src: url(fonts/Roboto-Regular.ttf);  
}

@font-face {
    font-family: 'lexend';
    src: url(fonts/Lexend-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'sail';
    src: url(fonts/Sail-Regular.ttf);
}

body::-webkit-scrollbar {
    display: none;
  }

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {
    background-color: #FAEAB1;
    margin: 0;
    width: 100vw;
}

.navBuffer {
    height: 8vh;
    width: 100vw;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 8vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    background-color: #00AAFF;
    z-index: 9;
    box-shadow: 0 5px 18px black;
}

.navLink {
    font-size: 1.5rem;
    font-family: 'lexend';
    color: #ffffff;
    text-decoration: none;
    padding: 0 2rem;
}

.navLink:hover {
    color: #003261;
    text-decoration: underline;
}

.navLeft {
    position: absolute;
    left: 4vw;
}

.navLogo {
    position: absolute;
    left: 1.4vw;
    width: 3vw;
}

.gridContainer {
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns: 3;
    grid-template-rows: 4;
    margin: 0 0 0 0;
}

hero {
    grid-column: 1/4;
    grid-row: 1/1;
    position: relative;
    width: 100vw;
}

.heroImage {
    display: block;
    width: 100vw;
    height: auto;
}

.heroText {
    z-index: 8;
    font-family: 'sail';
    font-size: 4rem;
    color: #ffffff;
    border: solid 1vw #00AAFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-sizing: 100%/100%;
    background-color: #003261;
    padding: 2rem;
    border-radius: 4vw;
    box-shadow: 0 5px 18px black;
}

main {
    display: flex;
    flex-direction: column;
    grid-row: 2/3;
    grid-column: 1/4;
    width: 100vw;
}

footer {
    grid-row: 4/4;
    grid-column: 1/4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #003261;
    height: 56vh;
    width: 100vw;
}

p {
    font-family: 'lexend';
    font-size: 1rem;
    color: #ffffff;
}

.mainImage {
    width: 33%;
    display:block;
    margin: 5rem;
    border: solid 1vw;
    border-color: #003261;
    border-radius: 5vw;
    box-shadow: 0 5px 18px black;
}

.mainTextImage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
}

@media (max-width: 768px) {
    .mainTextImage {
      display: flex;
      flex-direction: column;
    }
  }

.mainText {
    width: 75ch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5rem 0 5rem;
    padding: 2rem;
    background-color:#00AAFF;
    border-radius: 2.6vw;
    box-shadow: 0 5px 18px black;
}

h2 {
    font-family: 'sail';
    font-size: 2rem;
    color: #003261;
    margin: none;
    padding: none;
}

.footerText {
    color:#FAEAB1;
    background: none;
    box-shadow: none;
}




