/*

To Do:
 - Logo
 - Animations


*/









@font-face{
    font-family: 'roboto';
    src: url(fonts/Roboto-Regular.ttf);  
}

@font-face {
    font-family: 'lexend';
    src: url(fonts/Lexend-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'sail';
    src: url(fonts/Sail-Regular.ttf);
}

body::-webkit-scrollbar {
    display: none;
  }

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {
    background-color: #FAEAB1;
    margin: 0;
    width: 100%;
}

.navBuffer {
    height: 100px;
    width: 100%;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    background-color: #00AAFF;
    z-index: 9;
    box-shadow: 0 5px 18px black;
}

.navLink {
    font-size: 30px;
    font-family: 'lexend';
    color: #ffffff;
    text-decoration: none;
    padding: 0 20px;
}


.navLink:hover {
    color: #003261;
    text-decoration: underline;
}

.navLeft {
    position: absolute;
    left: 0;
}

.gridContainer {
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns: 3;
    grid-template-rows: 4;
    margin: 0 0 0 0;
}

hero {
    grid-column: 1/4;
    grid-row: 1/1;
    position: relative;
}

.heroImage {
    display: block;
    width: 100%;
    height: auto;
}

.heroText {
    z-index: 8;
    font-family: 'sail';
    font-size: 69px;
    color: #ffffff;
    border: solid 10px #00AAFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-sizing: 100%/100%;
    background-color: #003261;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 5px 18px black;
}

main {
    display: flex;
    flex-direction: column;
    grid-row: 2/3;
    grid-column: 1/4;
}

footer {
    grid-row: 4/4;
    grid-column: 1/4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #003261;
    height: 200px;
    width: 100%;
}

p {
    font-family: 'lexend';
    font-size: 20px;
    color: #ffffff;
}

.mainImage {
    width: 33%;
    display:block;
    margin-right: 50px;
    margin: 50px;
    border: solid 10px;
    border-color: #003261;
    border-radius: 50px;
    box-shadow: 0 5px 18px black;
}

.mainTextImage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 25px 0 25px 0;
}

.mainText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 50px 0 50px;
    padding: 20px;
    background-color:#00AAFF;
    border-radius: 26px;
    box-shadow: 0 5px 18px black;
}

h2 {
    font-family: 'sail';
    font-size: 30px;
    color: #003261;
    margin: none;
    padding: none;
}

.footerText {
    color:#FAEAB1;
    background: none;
    box-shadow: none;
}




