/*

To Do:


 - Animations


*/









@font-face{
    font-family: 'roboto';
    src: url(fonts/Roboto-Regular.ttf);  
}

@font-face {
    font-family: 'lexend';
    src: url(fonts/Lexend-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'sail';
    src: url(fonts/Sail-Regular.ttf);
}

body::-webkit-scrollbar {
    display: none;
  }

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {
    background-color: #FAEAB1;
    margin: 0;
    width: 100vw;
}

.navBuffer {
    height: 8vh;
    width: 100vw;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 8vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    background-color: #00AAFF;
    z-index: 9;
    box-shadow: 0 5px 18px black;
}

.navLink {
    font-size: 1.5rem;
    font-family: 'lexend';
    color: #ffffff;
    text-decoration: none;
    padding: 0 2rem;
}

@media (max-width: 768px) {
    .navLink {
        display: none;
        padding: 0;
        font-size: 1rem;
    }
  }

.visible {
    display: block;
}

.navLink:hover {
    color: #003261;
    text-decoration: underline;
}

.navLeft {
    position: absolute;
    left: 4vw;
}

@media (max-width: 768px) {
    .navLeft {
        left: 4vw;
    }
}

.navLogo {
    width: 3vw;
}

@media (max-width: 768px) {
    .navLogo {
        position: relative;
        height: 80%;
        width: auto;
        right: 1.4vw;
        left: auto;
    }
}

.navLogoButton {
    width: 3vw;
    height: 3vw;
    position: absolute;
    left: 1.4vw;
    border: none;
    background: none;
}

@media (max-width: 768px) {
    .navLogoButton {
        position: relative;
        height: 90%;
        width: auto;
        right: 1.4vw;
        left: auto;
    }
}

#navPopUp {
    top: 8vh;
    left: 0;
    position: absolute;
    z-index: 9;
    height: 50vh;
    width: 100vw;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:#00AAFF;
}



.navPopUpLink {
    font-size: 1.5rem;
    font-family: 'lexend';
    color: #ffffff;
    text-decoration: none;
    background: none;
    border: none;
}

.navPopUpLink:hover {
    color: #003261;
    text-decoration: underline;
}

.navClose {
    color:#003261;
}

.navClose:hover {
    color:#ffffff;
}

.gridContainer {
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns: 3;
    grid-template-rows: 4;
    margin: 0 0 0 0;
}

hero {
    grid-column: 1/4;
    grid-row: 1/1;
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.heroImage {
    display: block;
    width: 100vw;
    height: auto;
}

@media (max-width: 768px) {
    .heroImage {
        width: auto;
        height: 60vh;
        justify-self: center;
        overflow: hidden;
        object-fit: cover;
        object-position: 50% 50%;
        
    }

    hero {
        display: flex;
        justify-content: center;
    }
}

.heroText {
    z-index: 8;
    font-family: 'sail';
    font-size: 4rem;
    color: #ffffff;
    border: solid 1vw #00AAFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-sizing: 100%/100%;
    background-color: #003261;
    padding: 2rem;
    border-radius: 4vw;
    box-shadow: 0 5px 18px black;
}

@media (max-width: 768px) {
    .heroText {
        font-size: 1.8rem;
        padding: 1rem;
        border-width: 0.3rem;
        border-radius: 1rem;
    }
  }

main {
    display: flex;
    flex-direction: column;
    grid-row: 2/3;
    grid-column: 1/4;
    width: 100vw;
}

footer {
    grid-row: 4/4;
    grid-column: 1/4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #003261;
    height: 56vh;
    width: 100vw;
}

@media (max-width: 768px) {
    footer {
        margin: 4vh 0 0 0;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 40vh;
    }
  }

p {
    font-family: 'lexend';
    font-size: 1rem;
    color: #ffffff;
}

@media (max-width: 768px) {
    p {
        padding: 0 1rem;
    }
}

.mainImage {
    width: 33%;
    display:block;
    margin: 5rem;
    border: solid 1vw;
    border-color: #003261;
    border-radius: 5vw;
    box-shadow: 0 5px 18px black;
}

@media (max-width: 768px) {
    .mainImage {
      width: 100vw;
      padding: 0;
      margin: 0;
      border: none;
      border-radius: 0;
      box-shadow: none;
    }
  }

.mainTextImage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
}

@media (max-width: 768px) {
    .mainTextImage {
        margin: 4vh 0 0 0;
        display: flex;
        flex-direction: column;
    }
  }

.mainText {
    width: 75ch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5rem 0 5rem;
    padding: 2rem;
    background-color:#00AAFF;
    border-radius: 2.6vw;
    box-shadow: 0 5px 18px black;
}

@media (max-width: 768px) {
    .mainText {
      width: 100vw;
      padding: 0;
      margin: 0;
      border: none;
      border-radius: 0;
      box-shadow: none;
    }
  }

h2 {
    font-family: 'sail';
    font-size: 2rem;
    color: #003261;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    h2 {
        font-size: 1.4rem;
        padding-top: 1rem;
    }
}

.footerText {
    color:#FAEAB1;
    background: none;
    box-shadow: none;
}

@media (max-width: 768px) {
    .footerText {
        font-size: 0.8rem;
        padding: 0 2rem;
    }
  }



